.container {
    margin: 5px;
    width: 50%;
}
.box1 {
    border: 2px solid black;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px rgb(25, 169, 212);
}

.box2 {
    padding: 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 8px rgb(0, 0, 0);
}

.box3 {
    background-color: rgb(21, 144, 226);
    color: white;
    border: 3px solid rgb(185, 212, 210);
    padding: 10px;
    border-radius: 5px;
    box-shadow: -2px -3px 3px 1px rgb(17, 20, 20);
}
.box3:hover {
    background-color: azure;
    color:black;
    border: 3px solid rgb(11, 12, 12);
    box-shadow: -2px -3px 3px 1px rgb(21, 144, 226);
}
.box1, .box2, .box3 {   
    margin: 30px;
}